.jott_notebooks_pane {
    -fx-background-image: url("static/white_wall_hash.png");
     background-repeat: repeat;
}

.jott_notebook_combo_box {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #f9f9f9;
    -fx-pref-width: 150px;
    -fx-padding: 0px 0px 0px 2px;
}

.jott_page_item {
	-fx-alignment: center-left;
    -fx-padding: 0 0 0 40;
    -fx-background-color: #fafafa;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-border-width:2px;
}

.jott_current_page_item {
    -fx-background-color: #efefef;
    -fx-border-width: 1.5px;
    -fx-border-color: #e0e0e0;
    -fx-padding: 0px 0px 0px 0px;
}

.jott_page_scroll_pane {
    -fx-background-color: #dddddd;
    -fx-border-width: 0.5px;
    -fx-border-color: #dddddd;
    -fx-background-image: url("static/white_wall_hash.png");
     background-repeat: repeat;
}

.jott_new_page_button {
    -fx-background-color: #e7e7e7;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-padding: 0px 0px 0px 0px;
}

.jott_new_page_button:armed {
    -fx-background-color: #d6d6d6;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-padding: 0px 0px 0px 0px;
}

.jott_page_label {
    -fx-background-color: #eeeeee;
}

.scroll-pane {
    /*Removing the ugly focus rectangle is best done by disabling scrollpane borders entirely. Thanks, Oracle.*/
    -fx-background-insets: 0;
    -fx-padding: 0;
}
